<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Voltson-Cruz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}", media="all", type="text/css">
    {% endblock %} 
</head>
<body>
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <ul>
        <li class="nav-primary"><a href="#">Home</a></li>
        <li class="nav-primary"><a href="#">Approach</a></li>
        <li class="nav-primary"><a href="#">Work</a></li>
        <li class="nav-primary"><a href="#">People</a></li>
        <li class="nav-secondary"><a href="#">Jobs</a></li>
        <li class="nav-secondary"><a href="#">Blog</a></li>
        <li class="nav-secondary"><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
  {% block content %} {% endblock %}  
</div>
</body>
</html>




