{% extends "base.html" %}

{% block content %}
 <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
    <section class="band band-a">
      <div class="band-container">
        <div class="band-inner">
          <h1> Bryan is hella cool</h1>
	  <section class="card-container">
	    <article class="card">
	      <header class="card__title">
		<h3>Bryan Garcia</h3>
	      </header>
	      <main class="card__description">
		Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
	      </main>
	      <a href="#" class="button">Call to Action</a>
	    </article>
	    <article class="card">
	      <header class="card__title">
		<h3>Julio Sandino</h3>
	      </header>
	      <main class="card__description">
		Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
	      </main>
	      <a href="#" class="button">Call to Action</a>
	    </article>
	    <article class="card">
	      <header class="card__title">
		<h3>Shayan Shaikh</h3>
	      </header>
	      <main class="card__description">
		Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
	      </main>
	      <a href="#" class="button">Call to Action</a>
	    </article>
	     <article class="card">
	      <header class="card__title">
		<h3>Cole Esparza</h3>
	      </header>
	      <main class="card__description">
		Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun Lorem Ipsum dolor amet sun
	      </main>
	      <a href="#" class="button">Call to Action</a>
	    </article>
	  </section>	  
        </div>
      </div>
    </section>
  </div>
{% endblock %}
